.navbar-logout {
    padding-top:12px;
}

.padding-top-50{
    padding-top: 50px;
}

.padding-top-15{
    padding-top: 15px;
}

.margin-left-5{
    margin-left:5px;
}

.margin-top-5{
    margin-top:5px;
}

.height-80{
    height:80px;
}

.height-150{
    height:150px;
}

html, #body {
  height: 100%;
}

#wrap {
  min-height: 100%;
}